{{- if in (slice "posts" "projects") .Section -}}
<div id="metadata">
	<div class="creation-info">
		{{- with .Page.Params.author -}}
		<div class="author"><i class="fas fa-user-alt fa-fw" aria-hidden="true"></i>{{- with index . "url" -}}<a href="{{- . -}}" rel="author">{{- end -}}{{- index . "name" -}}{{- with index . "url" -}}</a>{{- end -}}</div>
		<span class="faded"> on </span>
		{{- else -}}
		<span class="faded">Published on </span>
		{{- end -}}
		<span class="date">{{- time.Format "Jan 02, 2006" .PublishDate -}}</span>
	</div>
	<div class="tags">
		{{- range (.GetTerms (print (singularize .Section) "/tags")) -}}<a href="{{- .Permalink -}}" class="tag" rel="tag">{{- .LinkTitle -}}</a>{{- end -}}
	</div>
</div>
{{- end -}}