<nav id="navigation" role="navigation" aria-label="Main">
	<ul>
		{{- $currentPage := . -}}
		{{- range .Site.Menus.main -}}
		{{- $isCurrentPage := ($currentPage.IsMenuCurrent "main" .) -}}
		<li class="{{- if $isCurrentPage -}}current-page{{- end -}}">
			{{- if $isCurrentPage -}}
			<span class="item">{{- .Pre -}}<span>{{- .Name -}}</span></span>
			{{- else -}}
			<a href="{{- .URL -}}" class="item">{{- .Pre -}}<span>{{- .Name -}}</span></a>
			{{- end -}}
		</li>
		{{- end -}}
	</ul>
</nav>