{{- $image := "" -}}

{{- with (.Get "exturl") -}}
	{{- $image = resources.GetRemote . -}}
{{- end -}}

{{- if (.Get "locurl") -}}
	{{- $image = .Page.Resources.GetMatch (.Get "locurl") -}}
{{- end -}}

{{- if $image -}}

	{{- $imageUrl := $image.Permalink -}}

	{{- $resizeMode := "resize" -}}
	{{- with (.Get "resizemode") -}}
		{{ $resizeMode = lower . -}}
	{{- end -}}

	{{- with (.Get "size") -}}
		{{- $size := . -}}

		{{- if eq $resizeMode "resize" -}}
			{{- $image = $image.Resize $size -}}
		{{- else if eq $resizeMode "fit" -}}
			{{- $image = $image.Fit $size -}}
		{{- else if eq $resizeMode "fill" -}}
			{{- $image = $image.Fill $size -}}
		{{- else if eq $resizeMode "crop" -}}
			{{- $image = $image.Crop $size -}}
		{{- end -}}

	{{- end -}}

	{{- if (.Get "popup") -}}
		<a href="{{- $imageUrl -}}" data-title="{{- .Get "title" -}}" onclick="lightboxOpen(event, this)" class="link-lightbox">
	{{- end -}}
	<img src="{{- $image.Permalink -}}" data-title="{{- .Get "title" -}}" alt="{{- .Get "title" -}}" {{ with (.Get "class") -}}class="{{- . -}}"{{- end -}}>
	{{- with (.Get "popup") -}}
		</a>
	{{- end -}}
{{- end -}}
