{{- $format := `` -}}
{{- if isset .Site.Params "dateformat" -}}
{{- $format = .Site.Params.dateFormat -}}
{{- else if .Get "dateformat" -}}
{{- $format = .Get "dateformat" -}}
{{- else -}}
{{- errorf "dateformat is required, set it on your params config file or pass itas named parameter." "" -}}
{{- end -}}

{{- $format = replaceRE "DD" "(?P<day>\\d{2})" $format -}}
{{- $format = replaceRE "MM" "(?P<month>\\d{2})" $format -}}
{{- $format = replaceRE "YYYY" "(?P<year>\\d{4})" $format -}}
{{- $format = delimit (slice "^" $format "$") "" -}}
{{- $format -}}

{{- $date := .Get 0 -}}
{{- $findResult := findRE `^(?P<day>\d{2})-(?P<month>\d{2})-(?P<year>\d{4})$` $date -}}

{{- range $key, $value := (seq $findResult) -}}
  {{- $key -}}
{{- end -}}