{{- define "main" -}}
<main aria-role="main" role="main">
	<section>
		<hgroup>
			{{- $title := .Title -}}
			{{- $subtitle := cond (isset .Params "subtitle") .Params.subtitle "" -}}
			{{- if eq .Kind "term" -}}
				{{- $parentPageURL := "" -}}
				{{- $parentPageName := (pluralize (index (split .Section "/") 0)) -}}
				{{- with .Site.GetPage (print "/" $parentPageName) -}}
					{{- $title = .Title -}}
					{{- if isset .Params "subtitle" -}}
						{{- $subtitle = .Params.subtitle -}}
					{{- end -}}
					{{- $parentPageURL = .Permalink -}}
				{{- end -}}
				{{- .Scratch.Set "all_url" $parentPageURL -}}
			{{- end -}}
			<h1>{{- $title -}}</h1>
			{{- with $subtitle -}}<p>{{. | $.Page.RenderString }}</p>{{- end -}}
		</hgroup>
		{{- partial "listTags.html" . -}}
		<div id="content">
			<div class="grid-layout two-columns-50-50">
				{{- range .Pages -}}
				<a href="{{- .Permalink -}}" class="button project-button h170">
					{{- $title := .Title -}}
					{{- with .Resources.GetMatch "*_cover.*" -}}
					<img src="{{- (.Crop "362x170").Permalink -}}" alt="{{- $title -}}" class="bright-hover" loading="eager">
					{{- end -}}
					<span class="title">{{- .Title }} <i class="far fa-arrow-alt-circle-right icon-arrow-link"></i></span>
				</a>
				{{- end -}}
			</div>
		</div>
	</section>
</main>
{{- end -}}